.title-box{
    display: flex;
    justify-content: center;
}

.new-title{
    font-size: 50px;
    color: #0e442d;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.7); 
    border-radius: 10px; 
    padding: 10px; 
    backdrop-filter: blur(10px); 
    -webkit-backdrop-filter: blur(10px); 
    display: inline-block;
    margin-bottom: 0px;
    box-shadow: 5px 5px 10px 5px lightgrey;
}

.subtitle{
  font-size: 20px;
  color: #0e442d;
  font-weight: bold;
}

.homePage-boxes{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.homePage-box{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  flex: 1;
}

@keyframes textclip {
    to {
      background-position: 200% center;
    }
  }